---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = 'Blog';
---

<BaseLayout title={pageTitle}>
  <!-- TODO: make my blog -->
  <h1>工事中</h1>
  <p>
    microCMSと連携していい感じのブログをここに置きたい
  </p>
</BaseLayout>