---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Article from "../../components/Article.astro";
const pageTitle = "Blog";

// microCMS呼び出し
import { getBlogs } from "../../library/microcms";
const response = await getBlogs({ fields: ["id", "title", "category"] });
---

<BaseLayout title={pageTitle}>
  <h1>記事一覧</h1>
  <hr />
  <p>
    {
      response.contents.map((content: any) => (
        <Article content={content}></Article>
      ))
    }
  </p>
</BaseLayout>
