---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Article from '../../../components/Article.astro';
import { getCategories, getCategoryDetail, getBlogs } from '../../../library/microcms';

export async function getStaticPaths() {
  const response = await getCategories({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      categoryId: content.id,
    },
  }));
}

const { categoryId } = Astro.params;
const category = await getCategoryDetail(categoryId as string);
const response = await getBlogs({ fields: ["id", "title", "category"] });
---

<BaseLayout title={"カテゴリ: " + category.name}>
  <h1>カテゴリ: {category.name}</h1>
  <hr />
  <p>
    {
      response.contents
      .filter((content: any) => content.category.id === category.id)
      .map((content: any) => (
        <Article content={content}></Article>
      ))
    }
  </p>
</BaseLayout>