@font-face {
  font-family: "NotoSansJP-Medium";
  font-weight: 500;
  src: url("/fonts/NotoSansJP-Medium.ttf") format("truetype");
  font-display: swap;
}

html {
  background-color: #fff9e6;
  font-family: "NotoSansJP-Medium", sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


.content {
  margin: 0 auto;
  width: 100%;
  max-width: 120ch;
  background-color: white;
  border-radius: 30px;
  text-align: center;
}


.nav-links {
  display: flex;
  background-color: white;
  height: 5rem;
  border-bottom: 1px solid;
}

.nav-links a {
  display: block;
  text-align: center;
  width: 130px;
  margin: auto 0;
  border-radius: 15px;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  color: black;
  transition: .2s;
}

.nav-links a:hover,
.nav-links a:focus {
  color: tomato;
  transition: .2s;
}


.footer-msg {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
}