---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'toma09to.com';
---

<BaseLayout title={pageTitle}>
	<h1>{pageTitle}</h1>
	<p>
		toma09toが制作したホームページです。<br>
		このホームページには、個人的に制作したページ・プログラムや、運営しているサービスの情報について発信していきます。<br>
		また、ブログも公開しているので是非閲覧してみてください。
	</p>
	<hr>
    <h2>Minecraftサーバーを開設しました！</h2>
    <p>詳しくは<a href="/blog/mzcr_bnixwfh">このページ</a>まで！</p>
    <hr>
	<h2>toma09toのMisskeyサーバーに参加しませんか？</h2>
	<p>
		toma09toが運営するMisskeyサーバーがあります！<br />
		あなたも参加してみませんか？<br />
		<a href="https://msky.toma09to.com/">msky.toma09to.com</a>へアクセス！
	</p>
</BaseLayout>
