---
import Hamburger from './Hamburger.astro';
---
<header>
  <div class="nav-links">
    <Hamburger />
    <a href="/">Top</a>
    <a href="/about/">About</a>
    <a href="/works/">Works</a>
    <a href="/contact/">Contact</a>
    <a href="/blog/">Blog</a>
  </div>
</header>