---
---
<header>
  <div class="nav-links">
    <a href="/">Top</a>
    <a href="/about/">About</a>
    <a href="/works/">Works</a>
    <a href="/contact/">Contact</a>
    <a href="/download/">Download</a>
  </div>
</header>