---
import Hamburger from './Hamburger.astro';
import { Icon } from 'astro-iconify';
---
<header>
  <div class="nav-links">
    <Hamburger />
    <a href="/">Top</a>
    <a href="/about/">About</a>
    <a href="/works/">Works</a>
    <a href="/contact/">Contact</a>
    <a href="/blog/">Blog</a>
    <a id="repo" href="https://github.com/toma09to/toma09to-com" target="_blank"><Icon name="mdi:github"></Icon></a>
  </div>
</header>
